## Groupme Rep meeting JSON conversion

In [2]:
#import packages
import numpy as np
import json as j
import pandas as pd
import numpy as np
import simplejson

In [3]:
rawexpt = pd.read_json('./data/building_json.json',orient ='records')

In [4]:
rawexpt.head()

   building_id  is_sold  upgrade_rank
0        10042        0            20
1        12000        0            10
2        10019        1             8
3        12001        0            10
4        10000        1             3

In [4]:
extract = rawexpt[['created_at','name','text']].sort_values(by=['created_at'])

In [5]:
extract.to_csv('mw_meetings_archive-2018_09.csv')